listen_address: 0.0.0.0:9890
authentication:
  username: vmmonitoring
  password: eqAf3Te48muasricEBJB
defaults:
    postgres_username: "pgscv"
    postgres_password: "{{ password }}"
no_track_mode: false
services:
  "postgres:5432":
    service_type: "postgres"
    conninfo: "postgres://pgscv:{{ password }}@127.0.0.1:5432/{{ dbname }}?channel_binding=prefer"
disable_collectors:
  - postgres/statements
  - system/sysinfo
