Server=10.5.5.233,10.5.5.234
ServerActive=10.5.5.254:10055
DebugLevel=3
PidFile=/var/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=0
Timeout=25
ListenPort=10050
AllowKey=system.run[*]
