<OAPP>
        <NSR_SERVER>v00nwcnt.corp.tander.ru</NSR_SERVER>
        <NSR_CLIENT>{{ hostname }}.corp.tander.ru</NSR_CLIENT>
        <NSR_DATA_VOLUME_POOL>dsdc4-dd-loy-ETH</NSR_DATA_VOLUME_POOL>
        <NSR_BACKUP_NAME>Full</NSR_BACKUP_NAME>
        <NSR_DATABASE_TYPE>PostgreSQL</NSR_DATABASE_TYPE>
        <NSR_INSTANCE_NAME>{{ hostname }}</NSR_INSTANCE_NAME>
        <NSR_OS_USER>postgres</NSR_OS_USER>

        <BACKUP>
                <FULL>
                        <NSR_BACKUP_SCRIPT>/database/any/networker/backup.sh</NSR_BACKUP_SCRIPT>
                </FULL>
                <TXNLOG>
                        <NSR_PROMOTE_FULL> 0 </NSR_PROMOTE_FULL>
                </TXNLOG>
        </BACKUP>
</OAPP>
